<section style="margin-top:25px">
<div id="center" class="center w-clear margin2s">
    <div class="hidden-xs hidden-sm">
        <aside class="g_quarter col-md-3 col-lg-3 col-xs-12 col-sm-12">
            <div class="sidebar-left">
                <ul class="sidebar-menu"></ul>
            </div>
        </aside>
    </div>
    <div class="col-md-5 col-lg-5 col-xs-12 col-sm-12 ldangnhap content_area g_left_pad news-content">
        <div class="main-tit"><h2>Đăng kí</h2></div>
        <div class="frm-tit">
            <form name="dangky"
                  action="#"
                  method="post"
                  class="form-horizontal"
                  onsubmit="$('#btn-dangnhap').val('Vui lòng đợi...')">
                <div class="form-group">
                    <label class="field-name">Tên tài khoản <span class="req">*</span></label>
                    <input class="form-control"
                           type="number"
                           placeholder="Nhập số điện thoại"
                           name="Sdt"
                           required="" />
                </div>
                 <div class="form-group">
                    <label class="field-name">Tên người dùng<span class="req">*</span></label>
                    <input class="form-control"
                           type="text"
                           placeholder="Nhập tên người dùng"
                               name="UserName"
                           required="" />
                </div>
                    <div class="form-group">
                        <label class="field-name">Địa chỉ<span class="req">*</span></label>
                        <input class="form-control"
                               type="text"
                               placeholder="Nhập địa chỉ"
                               name="DiaChi"
                               required="" />
                    </div>
                <div class="form-group">
                    <label class="field-name">Mật khẩu <span class="req">*</span></label>
                    <input class="form-control"
                            type="password"
                            placeholder="Nhập mật khẩu"
                            id="password"
                            name="PassWord"
                            required="" />
                </div>

                @* <div class="form-group">
                    <label class="field-name">Nhập lại mật khẩu <span class="req">*</span></label>
                    <input class="form-control"
                            type="password"
                            placeholder="Nhập lại mật khẩu"
                            id="confirmPassword"
                            name="confirmPassword"
                            required="" />
                </div> *@
               
                <div class="form-group form-footer">
                    <p>
                        Bạn đã có tài khoản?
                        <a asp-action="Index" >Đăng nhập</a>
                    </p>
                    <input class="btn btn-default"
                           id="btn-dangki"
                           type="submit"
                           value="Đăng kí" />

                </div>
                <input type="hidden" name="dangnhap" />
            </form>
        </div>
    </div>
    <div class="hidden-md hidden-lg">
        <aside class="g_quarter col-md-3 col-lg-3 col-xs-12 col-sm-12">
            <div class="sidebar-left">
                <ul class="sidebar-menu"></ul>
            </div>
        </aside>
    </div>
</div>
<script src="~/js/account-bundle.min.js"></script>
</section>
