@model List<PhongKham.Models.TinhModel>
@{
    
}
<section>
<link rel="stylesheet" href="~/css/lib/splide.min.css" />
<div id="banner-carousel"
     class="splide margin2s"
     aria-label="Beautiful Images">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <img src="~/assets/hinhanh/slide/1_83_anhslide_83_anhslide_83_anhslide.jpg"
                     alt="anh1" />
            </li>
            <li class="splide__slide">
                <img src="~/assets/hinhanh/slide/banner-web-t2-01_107_anhslide.jpg"
                     alt="anh2" />
            </li>

            <li class="splide__slide">
                <img src="~/assets/hinhanh/slide/testbantay_101_anhslide.png"
                     alt="anh3" />
            </li>
            <li class="splide__slide">
                <img src="~/assets/hinhanh/slide/uutien-_81_anhslide.png"
                     alt="anh4" />
            </li>
        </ul>
    </div>
</div>

<!-- **Slider Section - End** -->
<div id="info" class="margin2s center w-clear">
    <div class="g_grid row">
        <div class="user-type-portals home-promo">
            <div class="user-type-portals__link-portal -pink g_third m_hero g_omega">
                <a href="gioi-thieu.html" class="header-link">
                    <h3>Sản phẩm và dịch vụ</h3>
                </a>
                <div class="content is_wysiwyg js-equal-heights">
                    <ul>
                        <li>
                            <a href="#">Gói khám Tầm soát ung thư 1</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="#">Gói khám Tầm soát ung thư 2</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="#">Gói khám Tầm soát ung thư 3</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="#">Gói khám Tầm soát ung thư 4</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                    </ul>
                </div>
                <div class="l_side_block">
                    <a href="gioi-thieu.html" class="button3" title="More details">Xem thêm</a>
                </div>
            </div>
            <div class="user-type-portals__link-portal -pink g_third m_hero g_omega">
                <a href="gioi-thieu.html" class="header-link">
                    <h3>Kiến thức về ung thư</h3>
                </a>
                <div class="content is_wysiwyg js-equal-heights">
                    <ul>
                        <li>
                            <a href="#">Dự phòng ung thư</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="#">Thăm khám sớm</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="#">Chăm sóc giảm nhẹ</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="#">Dinh dưỡng và ung thư</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="#">Kiến thức & khám phá mới về ung thư</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                    </ul>
                </div>
                <div class="l_side_block">
                    <a href="gioi-thieu.html" class="button3" title="More details">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="news" class="margin2s center w-clear padding-10 row">
    <div class="col-md-12">
        <div class="i-tit w-clear tintucyte">
            <h2>Tin tức và kiến thức</h2>
        </div>
    </div>
    <div class="col-md-12 news-type">
        @* <div class="news-type-name">Tin mới</div>
        <div class="news-type-name">Lịch công tác</div>
        <div class="news-type-name">Văn bản</div>
        <div class="news-type-name">Thông báo</div>
        <div class="news-type-name">Thư mời</div> *@
        @* @for (int i = 0; i < Model.Count; i++)
        {
            <div class="news-type-name">@Model[i].Ten</div>
        } *@
    </div>
    <div class="col-md-12 news-type_m">
        <div id="newstype-carousel"
             class="splide"
             aria-label="Beautiful Images">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide news-type-name">Tin mới</li>
                    <li class="splide__slide news-type-name">Lịch công tác</li>
                    <li class="splide__slide news-type-name">Văn bản</li>
                    <li class="splide__slide news-type-name">Thông báo</li>
                    <li class="splide__slide news-type-name">Thư mời</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div id="news-carousel" class="splide" aria-label="Beautiful Images">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a> Dự phòng ung thư </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a> Thăm khám sớm </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a> Kiến thức & khám phá mới về ung thư </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a> Dự phòng ung thư </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a> Thăm khám sớm </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a> Chăm sóc giảm nhẹ </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a> Dự phòng ung thư </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a> Thăm khám sớm </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a> Dinh dưỡng và ung thư </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <div class="toast text-bg-success" style="position: absolute; top: 40px; right: 0; background-color: white;">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    @section Scripts {
        <script src="~/js/home-bundle.min.js"></script>
        <script>
            $(document).ready(function () {
                var message = "@Html.Raw(TempData["Message"])";
                $(".toast-body").text(message);
                if (message.length > 0) {
                    const toast = new bootstrap.Toast($(".toast"));
                    toast.show();
                }
            });
        </script>
    }
</section>