
<div id="banner-carousel"
     class="splide margin2s"
     aria-label="Beautiful Images">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <img src="~/assets/hinhanh/slide/1_83_anhslide_83_anhslide_83_anhslide.jpg"
                     alt="anh1" />
            </li>
            <li class="splide__slide">
                <img src="~/assets/hinhanh/slide/banner-web-t2-01_107_anhslide.jpg"
                     alt="anh2" />
            </li>

            <li class="splide__slide">
                <img src="~/assets/hinhanh/slide/testbantay_101_anhslide.png"
                     alt="anh3" />
            </li>
            <li class="splide__slide">
                <img src="~/assets/hinhanh/slide/uutien-_81_anhslide.png"
                     alt="anh4" />
            </li>
        </ul>
    </div>
</div>
<!-- **Slider Section**
<div class="container-fluid">
    <div class="row">
<div class="home-slider5">
    <div id="thmg-slideshow" class="thmg-slideshow">
        <div id="rev_slider_4_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev_slider_4" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" >
                <ul>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-thumb="upload/hinhanh/tong-dai-tu-van-suc-khoe-sinh-san-1900-64251653584700_1349x460.jpg">
                        <div class="slotholder">
                            <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="upload/hinhanh/tong-dai-tu-van-suc-khoe-sinh-san-1900-64251653584700_1349x460.jpg" data-src="upload/hinhanh/tong-dai-tu-van-suc-khoe-sinh-san-1900-64251653584700_1349x460.jpg"></div>
                            <div class="content_slideshow">
                                <div class="row">
                                    <div class="info">
                                        <div class="post-details">
                                        <div class="tp-caption ExtraLargeTitle sft tp-resizeme start" data-endspeed="500" data-speed="500" data-start="1100" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 12px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -32.8, 0, 1);"><span style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 21px; border-width: 0px; margin: 0px; padding: 0px 7px 0px 10px; letter-spacing: 0px; font-size: 10px; z-index: 0;">Travels</span></div>
                                        <div class="tp-caption LargeTitle sfl tp-resizeme start" data-endspeed="500" data-speed="500" data-start="1300" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 31px; border-width: 0px; margin: 0px; padding: 7px 0px 3px; letter-spacing: 0px; font-size: 29px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -32.8, 0, 0, 1);">Beautiful view of the wooden huts over the ocean</div>
                                        <div class="tp-caption Title sft tp-resizeme start" data-endspeed="500" data-speed="500" data-start="1450" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 0px; margin: 0px; padding: 13px 0px 0px; letter-spacing: 0px; font-size: 10px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -32.8, 0, 1);">Abkhazia is an amazingly beautiful state. As a resort country, Abkhazia gained fame back in the Soviet years. Locals love ...</div>
                                        <div class="tp-caption sfb tp-resizeme start" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 4; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 13px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 32.8, 0, 1);"><a href="post-1.html" class="buy-btn" style="transition: all 0s ease 0s; z-index: 0; min-height: 0px; min-width: 0px; line-height: 13px; border-width: 0px 0px 2px; margin: 19.68px 0px; padding: 10px 13px 8px; letter-spacing: 0px; font-size: 12px;">Full Article</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-thumb="upload/hinhanh/tong-dai-tu-van-suc-khoe-sinh-san-1900-64251653584700_1349x460.jpg">
                        <div>
                            <div class="content_slideshow">
                                <div class="row">
                                    <div class="info">
                                        <div class="post-details">
                                        <div class="tp-caption ExtraLargeTitle sft tp-resizeme start" data-endspeed="500" data-speed="500" data-start="1100" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 12px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -32.8, 0, 1);"><span style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 21px; border-width: 0px; margin: 0px; padding: 0px 7px 0px 10px; letter-spacing: 0px; font-size: 10px; z-index: 0;">Travels</span></div>
                                        <div class="tp-caption LargeTitle sfl tp-resizeme start" data-endspeed="500" data-speed="500" data-start="1300" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 31px; border-width: 0px; margin: 0px; padding: 7px 0px 3px; letter-spacing: 0px; font-size: 29px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -32.8, 0, 0, 1);">Beautiful view of the wooden huts over the ocean</div>
                                        <div class="tp-caption Title sft tp-resizeme start" data-endspeed="500" data-speed="500" data-start="1450" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 0px; margin: 0px; padding: 13px 0px 0px; letter-spacing: 0px; font-size: 10px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -32.8, 0, 1);">Abkhazia is an amazingly beautiful state. As a resort country, Abkhazia gained fame back in the Soviet years. Locals love ...</div>
                                        <div class="tp-caption sfb tp-resizeme start" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 4; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 13px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 32.8, 0, 1);"><a href="post-1.html" class="buy-btn" style="transition: all 0s ease 0s; z-index: 0; min-height: 0px; min-width: 0px; line-height: 13px; border-width: 0px 0px 2px; margin: 19.68px 0px; padding: 10px 13px 8px; letter-spacing: 0px; font-size: 12px;">Full Article</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>

        </div>
    </div>
</div>
    </div>
</div>
<!-- **Slider Section - End** -->
<div id="info" class="margin2s center w-clear">
    <div class="g_grid ro">
        <div class="user-type-portals home-promo">
            <div class="user-type-portals__link-portal -pink g_third m_hero g_omega">
                <a href="gioi-thieu.html" class="header-link">
                    <h3>Sản phẩm và dịch vụ</h3>
                </a>
                <div class="content is_wysiwyg js-equal-heights">
                    <ul>
                        <li>
                            <a href="gioi-thieu/gioi-thieu-benh-vien-967/index.html">Bệnh ung thư thường gặp</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/co-cau-to-chuc-1006/index.html">Phát hiện sớm ung thư</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/chi-dao-tuyen-hoi-nghi-1092/index.html">Dự phòng ung thư</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/tuyen-dung-1093/index.html">Xét nghiệm tế bào Deca iPath</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/dau-thau-1145/index.html">Hệ thống DecaYoga</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/su-kien-noi-bat-1094/index.html">Hoạt động từ thiện</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                    </ul>
                </div>
                <div class="l_side_block">
                    <a href="gioi-thieu.html" class="button3" title="More details">Xem thêm</a>
                </div>
            </div>
            <!-- <div class="user-type-portals__link-portal -pink g_third m_hero">
              <a href="danh-cho-benh-nhan" class="header-link">
                <h3>Dành cho bệnh nhân</h3>
              </a>
              <div class="content is_wysiwyg js-equal-heights">
                <ul>
                  <li>
                    <a
                      href="danh-cho-benh-nhan/gio-lam-viec-cac-khoa-kham-ngoai-tru-850/index.html"
                      >Giờ làm việc các khoa khám ngoại trú</a
                    >
                  </li>
                  <li>
                    <a
                      href="danh-cho-benh-nhan/dang-ky-kham-benh-va-thanh-toan-987/index.html"
                      >Đăng ký khám bệnh và thanh toán</a
                    >
                  </li>
                  <li>
                    <a
                      href="danh-cho-benh-nhan/quy-trinh-kham-benh-616/index.html"
                      >Quy trình khám bệnh</a
                    >
                  </li>
                  <li>
                    <a
                      href="danh-cho-benh-nhan/quy-trinh-nhap-vien-989/index.html"
                      >Quy trình nhập viện</a
                    >
                  </li>
                  <li>
                    <a href="danh-cho-benh-nhan/bang-gia-vien-phi-618/index.html"
                      >Bảng giá viện phí</a
                    >
                  </li>
                  <li>
                    <a href="danh-cho-benh-nhan/dich-vu-tien-ich-127/index.html"
                      >Dịch vụ tiện ích</a
                    >
                  </li>
                  <li>
                    <a href="danh-cho-benh-nhan/kien-thuc-y-khoa-990/index.html"
                      >Kiến thức y khoa</a
                    >
                  </li>
                </ul>
              </div>
              <div class="l_side_block">
                <a
                  href="danh-cho-benh-nhan"
                  class="button3"
                  title="Appointments &amp; bookings"
                  >Xem thêm</a
                >
              </div>
            </div>
            <div class="user-type-portals__link-portal g_third m_hero -pink">
              <a href="danh-cho-nhan-vien" class="header-link">
                <h3>Dành cho nhân viên</h3>
              </a>

              <div class="content is_wysiwyg js-equal-heights">
                <ul>
                  <li>
                    <a
                      href="danh-cho-nhan-vien/noi-quy-quy-che-bieu-mau-629/index.html"
                      >Nội quy - Quy chế - Biểu mẫu</a
                    >
                  </li>
                  <li>
                    <a href="danh-cho-nhan-vien/kien-thuc-cap-nhat-628/index.html"
                      >Kiến thức cập nhật</a
                    >
                  </li>
                  <li>
                    <a href="danh-cho-nhan-vien/thong-tin-thuoc-1146/index.html"
                      >Thông tin thuốc</a
                    >
                  </li>
                  <li>
                    <a
                      href="danh-cho-nhan-vien/nghien-cuu-khoa-hoc-cai-tien-chat-luong-630/index.html"
                      >Nghiên cứu khoa học - Cải tiến chất lượng</a
                    >
                  </li>
                  <li>
                    <a
                      href="danh-cho-nhan-vien/tap-huan-hoi-nghi-hoi-thao-627/index.html"
                      >Tập huấn - Hội nghị - Hội thảo</a
                    >
                  </li>
                  <li>
                    <a href="danh-cho-nhan-vien/thong-bao-986/index.html"
                      >Thông báo</a
                    >
                  </li>
                  <li>
                    <a
                      href="danh-cho-nhan-vien/thu-tuc-hanh-chinh-1151/index.html"
                      >Thủ tục hành chính</a
                    >
                  </li>
                  <li style="border-bottom: 0px">
                    <a style="color: transparent">-</a>
                  </li>
                  <li style="border-bottom: 0px">
                    <a style="color: transparent">-</a>
                  </li>
                </ul>
              </div>
              <div class="l_side_block">
                <a
                  href="danh-cho-nhan-vien"
                  class="button3"
                  title="Find a fact sheet"
                  target="_blank"
                  >Xem thêm</a
                >
              </div>
            </div> -->
        </div>
    </div>
</div>
<div id="patient" class="margin2s center w-clear">
    <div class="g_grid ro">
        <div class="user-type-portals home-promo">
            <div class="user-type-portals__link-portal -pink g_third m_hero g_omega">
                <a href="gioi-thieu.html" class="header-link">
                    <h3>Dành cho bệnh nhân</h3>
                </a>
                <div class="content is_wysiwyg js-equal-heights">
                    <ul>
                        <li>
                            <a href="gioi-thieu/gioi-thieu-benh-vien-967/index.html">Bệnh ung thư thường gặp</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/co-cau-to-chuc-1006/index.html">Phát hiện sớm ung thư</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/chi-dao-tuyen-hoi-nghi-1092/index.html">Dự phòng ung thư</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/tuyen-dung-1093/index.html">Xét nghiệm tế bào Deca iPath</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/dau-thau-1145/index.html">Hệ thống DecaYoga</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                        <li>
                            <a href="gioi-thieu/su-kien-noi-bat-1094/index.html">Hoạt động từ thiện</a>
                            <div>Đang cập nhật ...</div>
                        </li>
                    </ul>
                </div>
                <div class="l_side_block">
                    <a href="gioi-thieu.html" class="button3" title="More details">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="news" class="margin2s center w-clear padding-10">
    <div class="col-md-12">
        <div class="i-tit w-clear tintucyte">
            <h2>Tin tức và kiến thức</h2>
        </div>
    </div>
    <div class="col-md-12 news-type">
        <div class="news-type-name">Tin mới</div>
        <div class="news-type-name">Lịch công tác</div>
        <div class="news-type-name">Văn bản</div>
        <div class="news-type-name">Thông báo</div>
        <div class="news-type-name">Thư mời</div>
    </div>
    <div class="col-md-12">
        <div id="news-carousel" class="splide" aria-label="Beautiful Images">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a>
                                    TP Hồ Chí Minh: Hội thảo tìm hiểu mô hình chăm sóc sức
                                    khoẻ ban đầu của Cuba - Sở Y Tế HCM
                                </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a>
                                    TP. Hồ Chí Minh: Thông tim xuyên tử cung cứu sống một bào
                                    thai bị dị tật tim bẩm sinh nặng - Sở Y Tế HCM
                                </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a>
                                    Lịch công tác tuần cơ quan Sở Y tế (Từ 08/01/2024 –
                                    14/01/2024) - Sở Y Tế HCM
                                </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a>
                                    TP Hồ Chí Minh: Hội thảo tìm hiểu mô hình chăm sóc sức
                                    khoẻ ban đầu của Cuba - Sở Y Tế HCM
                                </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a>
                                    TP. Hồ Chí Minh: Thông tim xuyên tử cung cứu sống một bào
                                    thai bị dị tật tim bẩm sinh nặng - Sở Y Tế HCM
                                </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a>
                                    Lịch công tác tuần cơ quan Sở Y tế (Từ 08/01/2024 –
                                    14/01/2024) - Sở Y Tế HCM
                                </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a>
                                    TP Hồ Chí Minh: Hội thảo tìm hiểu mô hình chăm sóc sức
                                    khoẻ ban đầu của Cuba - Sở Y Tế HCM
                                </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a>
                                    TP. Hồ Chí Minh: Thông tim xuyên tử cung cứu sống một bào
                                    thai bị dị tật tim bẩm sinh nặng - Sở Y Tế HCM
                                </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                        <div class="news-inner">
                            <div class="news-inner-label">
                                <a>
                                    Lịch công tác tuần cơ quan Sở Y tế (Từ 08/01/2024 –
                                    14/01/2024) - Sở Y Tế HCM
                                </a>
                            </div>
                            <div class="news-inner-desc"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>