@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is your cookie data2 :</p>
    <pre id="jsonData">@Html.Raw(Model)</pre>
</div>

@* Script để phân tích chuỗi JSON và chuyển đổi thành string *@
<script>
    // Lấy chuỗi JSON từ phần tử HTML
  
</script>